# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac
.DS_Store
*/.DS_Store

# VS Code
.vscode
*.project
*.factorypath
__debug*

# IntelliJ IDEA
.idea/*
!.idea/icon.png
*.iws
*.iml
*.ipr

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
build
logs